body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
}

.main-header {
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;

    background-color: #f4f7f9;

    display: block;
    width: auto;
    height: 320px;
}

.main-header-logo {
    width: 109px;
    height: 19px;
    box-shadow: inset 0px -5px 0 0 #0000003d;
    background-color: #ee3643;

    margin: 0 0 0 130px;
    padding: 13px 56px 15px 55px;
}

/*.main-header-logo img {
    margin: 13px 56px 15px 55px;
}*/

.header__menu {
    font-size: 17px;
    color: #ffffff;

    background-color: #293449;
    height: 42px;

    display: flex;
}

.header__menu a {
    color: #ffffff;
}

.header__center {
    display: flex;
}

.nav__description {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    font-weight: normal;

    width: 196px;
    height: 60px;

    margin-top: 49px;
    margin-left: 183px;
}

.nav__tel {
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.nav__address {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.services {
    text-align: left;

    background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
    list-style: none;
    display: flex;
}

.main-navigation {
    display: flex;
    flex-direction: row;

    width: 940px;
    height: 60px;
}
.site-navigation {
    width: auto;
    height: auto;
}
.site-navigation a {
    color: #ffffff;
    font-weight: normal;
    
    background-color: #32425c;
    min-width: 121px;
    height: 12px;
    box-shadow: inset 0px -5px 0 0 #293449;
    padding-top: 22px;
    padding-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    

    display: flex;
    box-sizing: border-box;
}

.user-navigation-auth a {
    color: #000000;
}

.user-navigation-auth a:hover,
.user-navigation-auth a:focus {
    color: #ee3643;
}

.user-navigation-auth a:active {
    color: #0000004c;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #1d2739;
}

.site-navigation a:active {
    color: #ffffff80;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.block-list {
    color: #ffffff;
    list-style: none;
}
.block-list h3 {
    font-size: 24px;
    line-height: 30px;
}

.block-list a {
    color: #ffffff;
}

.goods-list {
    list-style: none;
    display: flex;
    padding-left: 0px;
    
}

.popular-goods__header {
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}

.popular-goods__header h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    display: inline;
}

.popular-goods__header a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff; 
    
    width: 253px;
    height: 38px;
    background-color: #ee3643;
    display: inline;
}

.list-item {
    width: 200px;
    height: 318px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
    margin-top: 21px;
    margin-bottom: 21px;
    margin-right: 20px;
    flex-grow: 1;

    text-align: center;
    font-family: 'PT Sans';
}

.list-item:last-child {
    margin-right: 0px;
}

.goods-list h3 {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;


    width: 155px;
    height: 33px;
    padding: 0px 32px 0px 33px; /*исправить позже после разметки блока*/
}

.list-item__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.list-item__price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 38px;
    color: #ffffff;


    background-image: url(/img/price-button.svg);
    width: 141px;
    height: 38px;
    margin: 0px 36px 21px 43px;
}

.brands-list {
    list-style: none;
}

.popular-brands__header {
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}

.popular-brands__header h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
}

.popular-brands__header a {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    width: 253px;
    height: 38px;
    background-color: #ee3643 ;
}

.brands-list .brand-item {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.services__header h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

.main__services p {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    font-weight: normal;
    font-family: 'PT sans';
}

.services__header p {
    width: 398px;
    height: 37px;
}

.services-list {
    list-style: none;
}

.main__services h3 {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
}

.services__delivery {
    background-image: url(/img/delivery.png);
    background-repeat: no-repeat;
}

.main__about h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.main__about p {
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.about__delivery-list {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.main__about a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
    width: 220px;
    height: 38px;
}

.main__about button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
    width: 220px;
    height: 38px;

    border: solid 1px #eaeaea;
    border-radius: 4px;
}

.footer-nav {
    background-color: #32425c;
}

.footer-nav p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
    color: #f3f7f9;
}

.footer-nav__top {
    list-style: none;
}

.footer-nav__top a{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f1f5f7;
}

.footer-nav__bottom {
    list-style: none;
}

.footer-nav__bottom a {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffd180;
}

.footer-contacts {
    font-size: 16px;
    color: #ffffff;

    background-color: #293449;
}

.footer-contacts a {
    color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: underline;
}

.footer-contacts a:active {
    color: #ee3643;
    text-decoration: none;
}
.button-back button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    width: 460px;
    height: 38px;
    background-color: #ee3643;
}

.contacts__social li {
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
    list-style: none;
}

/*каталог*/

.user-navigation a {
    color: #000000;
}

.user-navigation a:hover,
.user-navigation a:focus {
    color: #000000;
}

.user-navigation a:active {
    color: #0000004c;
}

.user-navigation-links {
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    text-decoration: underline;
}

.user-navigation-links a {
    color: #32425c;
}

.user-navigation-links a:hover,
.user-navigation-links a:focus {
    color: #ee3643;
}

.user-navigation-links a:active {
    color: #32425c4c;
}

.user-navigation-links li:first-child {
    list-style: none;
}

.catalog__header {
    width: 940px;
    height: 89px;
    background-color: #f2f6f8;
}

.page-title {
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

.filter__header {
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
}

.filter__header h2 {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.filter fieldset {
    border: none;
}

.filter legend {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #00000066;
}

.page-select {
    list-style: none;
}

.page-select li {
    width: 38px;
    height: 38px;
    border: solid 2px #e5e5e5;
}

.page-select li:last-child {
    width: 140px;
    height: 38px;
}

.page-select a {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: normal;
}
.page__active {
    background-color: #ee3643;
}

.page__active a {
    color: #ffffff;
}

.services__title {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

.services__text {
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}