body {
    margin: 0;
    padding: 0;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
}

header {
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;

    background-color: #f4f7f9;
}

.main-header-logo {
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0 0 #0000003d;
    background-color: #ee3643;
}

.header__menu {
    font-size: 17px;
    color: #ffffff;

    background-color: #293449;
}

.header__menu a {
    color: #ffffff;
}

.services {
    text-align: left;

    background-color: #f4f7f9;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a {
    color: #ffffff;
    
    background-color: #32425c;
    width: 127px;
    height: 60px;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #1d2739;
}

.site-navigation a:active {
    color: #ffffff80;
}

.block-list {
    color: #ffffff;
    list-style: none;
}
.block-list h3 {
    font-size: 24px;
    line-height: 30px;
}

.block-list a {
    color: #ffffff;
}

.goods-list {
    list-style: none;
}

.popular-goods__header {
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}

.popular-goods__header h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-goods__header a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff; 
    
    width: 253px;
    height: 38px;
    background-color: #ee3643;
}

.list-item {
    width: 220px;
    height: 318px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;

    text-align: center;
    font-family: 'PT Sans';
}

.goods-list h3 {
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;

    width: 155px;
    height: 33px;
    padding: 35px; /*исправить позже после разметки блока*/
}

.list-item__old-price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: line-through;
}

.list-item__price {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    color: #ffffff;

    background-color: red;
}

.brands-list {
    list-style: none;
}

.popular-brands__header {
    width: 940px;
    height: 89px;
    background-color: #f9f5f0;
}

.popular-brands__header h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
}

.popular-brands__header a {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    width: 253px;
    height: 38px;
    background-color: #ee3643 ;
}

.brands-list .brand-item {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;
}

.services__header h2 {
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
}

.main__services p {
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    font-weight: normal;
    font-family: 'PT sans';
}

.services__header p {
    width: 398px;
    height: 37px;
}

.services-list {
    list-style: none;
}

.main__services h3 {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    color: #32425c;
    text-transform: uppercase;
    font-weight: normal;
}

.main__about h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.main__about p {
    font-family: 'PT Sans';
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.about__delivery-list {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.main__about a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
    width: 220px;
    height: 38px;
}

.main__about button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
    width: 220px;
    height: 38px;

    border: solid 1px #eaeaea;
    border-radius: 4px;
}

.footer-nav {
    background-color: #32425c;
}

.footer-nav p {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
    color: #f3f7f9;
}

.footer-nav__top {
    list-style: none;
}

.footer-nav__top a{
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #f1f5f7;
}

.footer-nav__bottom {
    list-style: none;
}

.footer-nav__bottom a {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #ffd180;
}

.footer-contacts {
    font-size: 16px;
    color: #ffffff;

    background-color: #293449;
}

.footer-contacts a {
    color: #ffd180;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: underline;
}

.footer-contacts a:active {
    color: #ee3643;
    text-decoration: none;
}
.button-back button {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    width: 460px;
    height: 38px;
    background-color: #ee3643;
}